body {
    font-family: 'Poppins', sans-serif;
    background-color: #d8a673;
}

#board {
    width: 80%;
    margin: 1rem auto;
    height: 450px;
    background-image: url('img/basketball_field.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.square {
    width: 20px;
    height: 20px;
}

.player{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 12px;
    text-align: center;
    color: white;

}

.our_player {
    background-color: green;
}

.opponent_player {
    background-color: red;
}